.header .menu {
  text-align: right;
  font-weight: 900;
}

.header {
  position: relative;
  z-index: 999;
  height: 72px;
}

.header .logo {
  padding-top: 10px;
}

.header .menu ul {
  margin-top: 5px;
  margin-bottom: 0px;
}

.header .menu ul li {
  display: inline-block;
}

.header .menu ul li a {
  text-decoration: none;
  color: #202020;
  padding: 10px 20px;
  display: block;
  transition: 0.2s;
  border-radius: 5px;
  margin-right: 2px;
}

.header .menu ul li:hover a {
  text-decoration: none;
  background-color: #4e4e4e1e;
  border-radius: 5px;
}

.header .menu ul li a.active {
  text-decoration: none;
  color: #ffffff;
  background-color: #3F9FEB;
  border-radius: 5px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}